.search-form
  margin-top: -30px

  form
    display: flex
    justify-content: center

  .from,
  .want-go
    flex-basis: 32%

  input
    padding: 15px
    font-family: 'Open Sans', sans-serif

  .search-btn
    flex-basis: 10%
    font-family: 'Open Sans', sans-serif
    font-size: 16px
    font-weight: 400
    text-transform: capitalize
    background-color: #ff4861