@media (max-width: 475px)
  /*<----- Base styles ----->*/
  .section__header-categories ul li
    margin-left: 12px

  /*<----- Header ----->*/
  .header
    &__logo a
      font-size: 20px

    &__btn-menu
      width: 30px
      height: 30px

    &__login-btn
      margin-left: 15px
      padding: 7px 30px 7px 25px
      font-size: 12px

  /*<----- section «Banner» ----->*/
  .banner
    h2
      font-size: 30px

    p
      font-size: 16px

  /*<----- section «Search form» ----->*/
  .search-form
    form
      padding-left: 0
      padding-right: 0

    input
      padding: 10px
      font-size: 14px

    .search-btn
      font-size: 14px

  /*<----- section «Flights» ----->*/
  .flights
    padding-top: 40px
    padding-bottom: 40px

  /*<----- section «Hotels» ----->*/
  .hotels__post
    flex-basis: 100%

  /*<----- section «Attractions» ----->*/
  .attractions
    .section__header-categories ul
      flex-wrap: wrap
      justify-content: center

      li
        margin-bottom: 10px

    &__post
      flex-basis: 100%

      &:nth-child(1),
      &_wrap
        flex-basis: 100%

  /*<----- section «Trips» ----->*/
  .trips__post_content
    padding-left: 10px
    padding-right: 10px

    span,
    p
      font-size: 14px

  /*<----- Footer ----->*/
  footer
    .categories
      div
        flex-basis: 100%

      ul li
        a
          font-size: 14px

        &:nth-child(1) a
          font-size: 20px