@media (max-width: 475px)
  /*<----- Banner ----->*/
  .banner
    h2
      font-size: 30px

    p
      font-size: 16px

  /*<----- Search form ----->*/
  .search-form
    padding: 0

    input
      padding: 10px
      font-size: 14px

    .search-btn
      font-size: 14px