@media (max-width: 640px)
  /*<----- Header ----->*/
  .header
    &__wrap
      justify-content: space-between

    .nav__menu
      display: none

  /*<----- Banner ----->*/
  .banner
    h2
      font-size: 40px

    p
      font-size: 20px
      color: white