@media (max-width: 768px)
  /*<----- Base styles ----->*/
  .section__header-title
    font-size: 22px

  /*<----- Header ----->*/
  .header
    &__wrap
      justify-content: space-between

    &__logo
      margin-right: 0
      flex-basis: 70%

    &__btn-menu
      display: block

    .nav__menu
      display: none
      width: 100%
      position: absolute
      z-index: 10
      top: 80px
      left: 0
      text-align: center

      .nav__list
        display: flex
        flex-direction: column
        background-color: rgba(255, 255, 255, 0.98)

        li + li
          margin-left: 0

        li
          display: block
          padding: 15px 0

          &:first-child
            margin-top: 15px

          &:nth-child(2)
            &::after
              border: solid white
              border-width: 0 1.5px 1.5px 0

            &:hover::after
              right: 57px

          &:nth-child(3)
            margin-left: 0

          &:last-child
            margin-left: 0
            margin-bottom: 15px

          a
            color: $primary

  /*<----- section «Search form» ----->*/
  .search-form form
    flex-direction: column

  /*<----- section «Flights» ----->*/
  .flights
    &__blocks ul
      li
        &:nth-child(1)
          flex-basis: 22%

        &:nth-child(5)
          flex-basis: 17%

    &__post_airline
      flex-basis: 22%

  /*<----- section «Hotels» ----->*/
  .hotels__blocks
    margin: 20px 0

  /*<----- section «Trips» ----->*/
  .trips
    &__post
      flex-direction: column
      text-align: center

      &_content
        border-top: none
        border-left: 2px solid #f3f3f3
        padding-bottom: 0

  /*<----- Footer ----->*/
  footer
    .categories
      flex-wrap: wrap

      div
        flex-basis: 50%
        text-align: center
        margin-bottom: 30px

@media (min-width: 769px)
  .header
    .nav__menu
      display: block !important